@tailwind base;
@tailwind components;
@tailwind utilities;

.qin {
  @apply w-8 h-8 border-4 font-bold border-gray-500 uppercase text-center text-base focus:outline-none focus:border-blue-400 transition duration-200;
}

.qin::placeholder {
  font-weight: normal;
}

.bl {
  @apply w-8 h-8 bg-yellow-200 border-4 border-gray-500;
}

.mat {
  @apply w-8 h-8 border-4 bg-gray-700 border-gray-500 text-gray-300 uppercase text-center text-base;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #777;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
